.scrollToTop {
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: var(--color-primary);
  color: white;
  border: none;
  padding: 12px 14px;
  border-radius: 50%;
  cursor: pointer;
  width: 4.5vw;
  height: 4.5vw;
  font-size: 2vw;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: opacity 0.3s ease;
}

.scrollToTop:hover {
  background-color: var(--color-secondary);
}
